<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <header class="header">
    <div class="container">
      <h1 class="header-logo-container">
        <a  class="header-logo" href="./index.html">眼鏡官網</a>
      </h1>
      <nav>
        <ul class="header-nav">
          <li class="header-nav-anchor"><a href="#">系列鏡框</a></li>
          <li class="header-nav-anchor"><a href="#">門市據點</a></li>
          <li class="header-nav-anchor"><a href="#">部落格</a></li>
          <li class="header-nav-anchor"><a href="./faq.html">常見問題</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <%- contents %>

  <footer class="footer">
    <div class="container">
      <div class="footer-main">
        <div class="footer-main-section">
          <ul class="footer-menu">
            <li><a href="./index.html">首頁</a></li>
            <li><a href="#">系列鏡框</a></li>
            <li><a href="#">門市據點</a></li>
            <li><a href="#">部落格</a></li>
            <li><a href="./faq.html">常見問題</a></li>
          </ul>
          <ul class="footer-address">
            <li>
              <a href="tel:+886-800-000-000">
                <span class="material-symbols-outlined footer-address-icon">
                  call
                </span>
                0800-000-000
              </a>
            </li>
            <li>
              <a href="mailto:glasses@business.com">
                <span class="material-symbols-outlined footer-address-icon">
                  mail
                </span>
                glasses@business.com
              </a>
            </li>
          </ul>
        </div>
        <ul class="footer-sns">
          <li><a href="#"><img class="footer-sns-logo" src="./assets/images/ic-social-fb.png" alt="fb"></a></li>
          <li><a href="#"><img class="footer-sns-logo" src="./assets/images/ic_social_ig.png" alt="ig"></a></li>
          <li><a href="#"><img class="footer-sns-logo" src="./assets/images/ic_social_line.png" alt="line"></a></li>
        </ul>
      </div>
      <div class="footer-others">
        <p class="footer-copyright">Copyright © 2020 Glasses.All rights reserved.</p>
        <ul class="footer-policy">
          <li><a href="#">隱私權政策</a></li>
          <li><a href="#">服務條款</a></li>
        </ul>
      </div>
    </div>
    
    
  </footer>

  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>
