/* 響應式圖片用 */
img{
    max-width: 100%;
    height: auto;
	vertical-align: middle;
}

*,*::before,*::after{
	box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    opacity: 0.6;
}

//google font
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Roboto', 'Noto Sans TC',-apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
    // font-family: 'Roboto', sans-serif;
    // font-family: 'Noto Sans TC', sans-serif;

    line-height: 1.5;
}


.container{
    max-width: 1320px; //12*86px + 12*24px
    margin: 0 auto;
    padding: 0 12px;

    @include pad(){
        max-width: 720px; // 12*36px + 12*24px
    }

    @include mobile(){
        max-width: 372px; // 4*69px + 4 * 24px
    }
}