.faq-main{
    padding-top: $spacer * 12;
    padding-bottom: $spacer * 10;
    @include pad(){
        padding-top: $spacer * 10;
    }
    @include mobile(){
        padding-top: $spacer * 5;
        padding-bottom: $spacer * 8;
    }

    .faq-title{
        border-left: 8px solid $high-light;
        padding-left: $spacer * 2;
        margin-bottom: $spacer * 4;

        font-size: 3rem;
        font-weight: 700;

        @include mobile(){
            margin-bottom: $spacer * 3;
            font-size: 1.5rem;
        }
    }

    .faq-subTitle{
        margin-bottom: $spacer * 3;
        font-size: 1.5rem;
        font-weight: 700;
    }

    .faq-list-qa{
        margin-bottom: $spacer * 4;

        @include mobile(){
            margin-bottom: $spacer * 3;
        }
    }

    .faq-list-q{
        margin-bottom: $spacer;

        font-size: 1.25rem;
        font-weight: 700;
    }

    .faq-list-a{
        font-size: 1rem;
    }
}