.index-banner{
    padding-top: $spacer * 37;
    padding-bottom: $spacer * 37;

    background-image: url('../images/home-header.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    @include mobile(){
        padding-top: $spacer * 18;
        padding-bottom: $spacer * 18;
        background-image: url("../images/home-header-sm.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
    .container{
        display: flex;
        justify-content: end;
        text-align: right;
    }

    .index-banner-title{
        color: $primary-dark;
        font-size: 4rem;
        font-weight: 700;

        margin-bottom: $spacer;

        @include mobile(){
            font-size: 1.5rem;
        }
    }

    .index-banner-subTitle{
        font-size: 2.25rem;
        font-weight: 400;
        @include mobile(){
            font-size: 1rem;
        }
    }

    .index-banner-button{
        color: $white;
        background-color: $primary;
        font-size: 1.25rem;

        padding: $spacer*0.75 $spacer*1.5;
    }
}

.index-feature{
    padding-top: $spacer * 10;
    padding-bottom: $spacer * 10;
    color:$primary-dark;
    background-color: $secondary;

    @include mobile(){
        padding-top: $spacer * 5;
        padding-bottom: $spacer * 5;
    }

    .index-feature-title{
        text-align: center;
        font-size: 3rem;
        font-weight: 700;

        margin-bottom: $spacer *3;

        @include mobile(){
            font-size: 1.5rem;
        }
    }

    .index-feature-list{
        display: flex;
        justify-content: space-between;
        gap: $spacer * 3;
        
        @include pad(){
            flex-wrap: wrap;
        }

        @include mobile(){
            flex-direction: column;
        }
    }

    .index-feature-card{
        text-align: center;
        width: 23%;

        @include pad(){
            width: 47%;
        }

        @include mobile(){
            width: 100%;
        }
    }

    .index-feature-icon{
        width: 100px;
        margin-bottom: $spacer * 2;
    }

    .index-feature-subTitle{
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: $spacer;
    }

    .index-feature-describe{
        text-align: left;
        color: $black;
    }
}

.index-classic{
    padding-top: $spacer * 10;
    padding-bottom: $spacer * 10;

    @include mobile(){
        padding-top: $spacer * 5;
        padding-bottom: $spacer * 5;
    }

    .index-classic-title{
        font-size: 3rem;
        font-weight: 700;
        text-align: center;
        color: $primary-dark;

        margin-bottom: $spacer * 6;

        @include mobile(){
            font-size: 1.5rem;
            margin-bottom: $spacer * 3;
        }
    }

    .index-classic-list{
        display: flex;
        justify-content: space-between;
        gap: $spacer * 3;

        @include pad(){
            flex-direction: column;
            align-items: center;
        }
    }

    .index-classic-card{
        width: 31%;
        text-align: center;

        @include pad(){
            width: 50%;
        }

        @include mobile(){
            width: 100%;
        }
    }

    .index-classic-img{
        margin-bottom: $spacer;
    }

    .index-classic-cardTitle{
        font-size: 3rem;
        font-style: italic;
        font-weight:900;
        color: $primary;
    }
}

.index-coBrand{
    padding-top: $spacer * 10;
    padding-bottom: $spacer * 10;
    background-image: url("../images/index-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    @include pad(){
        background-image: url("../images/index-bg-md.png");
    }
    @include mobile(){
        padding-top:  $spacer * 5;
        padding-bottom: $spacer * 5;

        background-image: url("../images/index-bg-sm.png");
    }

    

    .index-coBrand-title{
        text-align: center;
        color: $white;
        font-size: 3rem;
        font-weight: 700;

        margin-bottom: $spacer * 6;

        @include mobile{
            font-size: 1.5rem;

            margin-bottom: $spacer * 3;
        }
    }

    .index-coBrand-list{
        display: flex;
        justify-content: space-between;

        @include pad(){
            flex-direction: column;
            gap: $spacer * 3;
        }
    }

    .index-coBrand-card{
        width: 50%;

        @include pad(){
            width: 100%;
        }
    }

    .index-coBrand-img{
        @include mobile(){
            display: none;
        }
    }

    .index-coBrand-img-sm{
        display: none;

        @include mobile(){
            display: block;
        }
    }

    .index-coBrand-cardTitle{
        background-color: $white;
        color: $primary;
        text-align: center;
        font-size: 3rem;
        font-weight: 900;
        font-style: italic;

        padding-top: $spacer;
        padding-bottom: $spacer;
    }
}

.index-recommend{
    padding-top: $spacer * 10;
    padding-bottom: $spacer * 10;

    @include mobile(){
        padding-top: $spacer * 5;
        padding-bottom: $spacer * 5;
    }

    .index-recommend-title{
        color: $primary-dark;
        font-size: 3rem;
        text-align: center;
        font-weight: 700;
        margin-bottom: $spacer * 6;

        @include mobile(){
            font-size: 1.5rem;
            margin-bottom: $spacer * 3;
        }
    }

    .index-recommend-list{
        display: flex;
        justify-content: space-between;
        gap: $spacer * 3;

        @include pad(){
            flex-wrap: wrap;
        }

        @include mobile(){
            align-items: center;
        }
    }

    .index-recommend-card{
        width: 25%;
        border: 1px solid $gray;
        box-shadow: 0px 2px 6px $gray-shadow;

        @include pad(){
            width: 48%;
        }

        @include mobile(){
            width: 100%;
        }
    }

    .index-recommend-recommendation{
        padding: $spacer * 2;
        height: 205px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .index-recommend-name{
        font-weight: 500;
        margin-bottom: $spacer;
    }

    .index-recommend-date{
        font-size: 0.875rem;
        color: $gray-dark; 
    }
}

.index-contactUs{
    padding-top: $spacer * 10;
    padding-bottom: $spacer * 10;
    background-color: $secondary;

    .container{
        display: flex;
        justify-content: center;
    }
    .index-contactUs-block{
        width: 50%;

        @include pad(){
            width: 83%;
        }

        @include mobile(){
            width: 100%;
        }
    }

    .index-contactUs-title{
        font-size: 3rem;
        font-weight: 700;
        color: $primary-dark;
        text-align: center;
        margin-bottom: $spacer * 6;

        @include pad(){
            margin-bottom: $spacer * 3;
        }
    }

    .index-contactUs-discribe{
        font-size: 1.25rem;
        margin-bottom: $spacer * 3;

        @include pad(){
            font-size: 1rem;
        }
    }

    .index-form{
        .index-form-label{
            margin-bottom: $spacer;
        }

        .index-form-input{
            width: 100%;
            height: 36px;
            margin-bottom: $spacer * 2;
        }

        .index-form-text{
            width: 100%;
            margin-bottom: $spacer * 2;
        }

        .index-form-checkbox{
            margin-bottom: $spacer * 6;
        }

        .index-form-submit{
            display: block;
            background-color: $primary;
            color: $white;
            
            padding-top: $spacer * 2;
            padding-bottom: $spacer * 2;
            width: 66%;
            margin: 0 auto;
            
            @include pad(){
                width: 60%;
            }

            @include mobile(){
                width: 100%;
            }

        }
    }
}

