//顏色相關
$primary: #AA0601;
$primary-dark: #650300;
$high-light: #9F1213;

$secondary: #FBF2F2;

$black: #000;
$white: #fff;

$gray: #DEE2E6;
$gray-shadow: #00000029;
$gray-dark: #707070;

$font-size-base: 16px;

$text-base: $font-size-base;

$spacer: 8px;
